{% extends "base.html" %}

{% block title %}
{{ block.super }} {{ question.id }}
{% endblock %}
{% block content %}
    <div class="well well-lg">
    <h1>{{ question.title }}</h1>
    <p>{{ question.text }}</p>
    {% for answer in answers %}
        <div class="well">
        <h3>{{ answer.author }}</h3>
        {{ answer.text }}
        </div>
    {% endfor %}
    {% for e in form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    <form class="form-horizontal" method="post" action="/question/{{ question.id }}/">
        <fieldset>
            {% for field in form %}
                <div class="control-group
                    {% if field.errors %}has-error{% endif %}">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}</div>
                </div>
            {% endfor %}
            {% csrf_token %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Ответить</button>
        </div>
    </form>
    </div>
{% endblock %}