{% extends "base.html" %}

{% block title %}Question Details{% endblock %}

{% block content %}


<h1>{{ title }}</h1>
<p>{{ text }} </p>
<hr>
{% for answer in answers %}
    <p> {{ answer.text }} </p>
    <h6> {{ answer.author }}</h6>
{% endfor %}
<form method="post" action="/question/{{ question.id }}">
    {% for field in answer_form %}
        <label>{{ field.label }}</label>
        <div>{{field }}</div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit"> Answer the question</button>
</form>

{% endblock %}
